{% extends 'fronpage/main.html' %}
{% load static %}
{% block content %}
<section id="hero" class="bg app-py-3 hero d-flex align-items-center" style="background-image: url('{% static 'frontpage/assets/img/Liquid-Lines-1.png' %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 style="margin-bottom: 10px;">The New Standard<br> for Trading Brokers</h1>
        <p class="f-21">Trade major indices, forex pairs, crypto<br> coins and stocks from one account</p>
        <div data-aos="fade-up" data-aos-delay="600">

          <div><a class="btn btn-secondary" href="{% url 'signup' %}">DISCOVER PLATFORM</a></div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'frontpage/assets/img/Liquid-Landing.svg' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<div style="padding: 30px;"></div>
<!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

     <div style="padding: 50px;"></div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="{% static 'frontpage/assets/img/Liquid-Service-1.svg' %}" class="img-fluid" alt="">
            <h3>Trade Forex</h3>
            <p>Trade popluar currency pairs and implement your own trading strategies with minimum slippage</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="{% static 'frontpage/assets/img/Liquid-Service-2.svg' %}" class="img-fluid" alt="">
            <h3>Expert Traders</h3>
            <p>Sit back and let the experts do all the work for you by copying the positions they take.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="{% static 'frontpage/assets/img/Liquid-Service-3.svg' %}" class="img-fluid" alt="">
            <h3>Data and Charts</h3>
            <p>Monitor the markets with a variety of charts and visualization tools from simple to technical</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

<div style="padding: 50px;"></div>


    <!-- ======= Hero Section ======= -->
<section id="hero" class="bg app-py-3 hero d-flex align-items-center" style="background-image: url('{% static 'frontpage/assets/img/Liquid-Lines-2.png' %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="row">

       <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200" style="text-align: left;">
        
        <img src="{% static 'frontpage/assets/img/Liquid-Work.svg' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h2 class="" style="visibility: visible; color: #000;">Lets Work Together To Give<br> You <span class="btn-color">The Best</span> Experience</h2>
        <br>
        <p class="wow fadeInUp slow" style="visibility: visible;">Got an issue? We respond as soon as possible<br> on live chat and solve the problem for you.</p>
        <b><span class="material-icons notranslate alt-color">chevron_right</span>Contact us anytime, from anywhere</b>
        
        <b><span class="material-icons notranslate alt-color">chevron_right</span>One-to-one support for all users</b>

      </div>



    </div>
  </div>

</section><!-- End Hero -->


 <!-- ======= Values Section ======= -->
  <section  class="howtobegin" style=" background-image: url('{% static 'frontpage/assets/img/MgtBg1.jpeg' %}'); background-size:cover; background-repeat: no-repeat; background-attachment: fixed; margin: -1px;">

    <div class="overlay2"></div>

    <div class="container app-relative app-py-3" data-aos="fade-up">

     
      <div class="center app-py-3" style="visibility: visible; color: #fff;"><i class="f-18">How To Begin</i><h2>HOW <span class="btn-color">SPHINXFX</span> WORKS</h2></div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box row">
            
            <div class="mgt-box-2 white-text" style="visibility: visible;">
              <span class="material-icons notranslate btn-color" style="font-size: 34px;">sports_soccer</span>
              <h4 class="white-text" >CREATE AN ACCOUNT</h4>Simply click on the register button to create a free account for yourself. Its quick and easy.</div>

          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
              
              <div class="mgt-box-2 white-text" style="visibility: visible;">
              <span class="material-icons notranslate btn-color" style="font-size: 34px;">currency_bitcoin</span>
              <h4 class="white-text" >CHOOSE AN INVESTMENT PLAN</h4>Select an investment plan of your choice. Our plans start from as low as $499.99!</div>


          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
           
           <div class="mgt-box-2 white-text" style="visibility: visible;">
              <span class="material-icons notranslate btn-color" style="font-size: 34px;">handshake</span>
              <h4 class="white-text" >ALLOW US TO DO THE REST</h4>Our expert traders do all the hardwork for you while you get returns on your investments.</div>


          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->


      <!-- ======= Hero Section ======= -->
<section id="hero" class="bg app-py-3 hero d-flex align-items-center" style="text-align:left;">

  <div class="container">
    <div class="row">

      <div class="col-lg-6 d-flex flex-column justify-content-center">
               <h2 style="visibility: visible; color: #000;">Your Account's Privacy<br> and Security Guaranteed</h2>
                <br>
               <p>We use some of the most advanced encryption algorithms,<br class="hide-on-med-and-down"> and follow industry best pratices to ensure that your data<br class="hide-on-med-and-down">and funds are 100% safe and secured on our platform.</p>

              </div>

       <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        
        <img src="{% static 'frontpage/assets/img/Liquid-Security.svg' %}" class="img-fluid" alt="">
      </div>

    </div>
  </div>

</section><!-- End Hero -->


<!-- ======= features Section ======= -->
  <section class="features" class="d-flex align-items-center">




    <div class="container" data-aos="fade-up">


      <div class="app-py-3" style="visibility: visible; text-align:center;">
      <i class="f-18">What We Offer</i>
      <h2>SPHINXFX <span class="btn-color">FEATURES</span></h2>
    </div>

      <div class="row" style="text-align: center;">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <div class="material-icons notranslate" style="color: white; padding: 1rem; font-size: 55px; border-radius: 50%; background: rgb(252, 90, 63);">currency_bitcoin</div>
            <h3 class="h4">Crypto Mining</h3>
            <p class="app-mb-2">We help you mine various cryptocurrencies and bring reasonable returns to your portfolio without you having to do any work yourself.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <div class="material-icons notranslate" style="color: white; padding: 1rem; font-size: 55px; border-radius: 50%; background: rgb(252, 90, 63);">mood</div>
            <h3 class="h4">Friendly Interface</h3>
            <p class="app-mb-2">Whether you are a beginner or a professional in cryptocurrency trading, we are sure that you will find our platform easy to use.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <div class="material-icons notranslate" style="color: white; padding: 1rem; font-size: 55px; border-radius: 50%; background: rgb(252, 90, 63);">attach_money</div>
            <h3 class="h4">Flexible Plans</h3>
            <p class="app-mb-2">Flexible plans no matter your portfolio size. Reasonable trading fees for traders and all market makers.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->
  {% endblock content %}