{% extends 'account/main.html' %}
{% block content %}
        <center>
         <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-10" >
              <br>

              <h4 class="center">My Mining Contract</h4>
              
              <br>

            <div class="card info-card customers-card over" style="margin-bottom: 0px;">

                <div class="card-body " style="padding: 40px;">
                  <span style="font-size: 12px;">YOU HAVE NO MINING CONTRACT AT THE MOMENT</span>
                </div>
              </div>

              
              

            </center>
{% endblock content %}