{% extends 'account/main.html' %}
{% block content %}
<div>
    <center>
       <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-8">


            <br>
            <br>
            <h4 class="center">MY REFFERALS</h4>
            <br>

          <div class="card">
          <div class="card-body over"  style="color: #2c2c2c;">


            <div>
              <p>Referrals</p>
            </div>

            <div style="padding: 10px;"></div>

            <div>
              https://chasetrades.net/signup.html?user_id=214
            </div>

            <div>
              <hr>
            </div>

            <div>
              <p>Your Referral Link</p>
            </div>
          </div>



        </div>

    </center>


    <center>
       <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-8">
            <div class="card">
                <div class="card-body over"  style="color: #2c2c2c;">
                    <div style="padding: 20px;">
                        No Referrals Yet
                    </div>
                </div>                
        </div>
    </center>

</div>
{% endblock content %}