{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<center>
    <img src="{% static 'assets/img/logo.png' %}" class="responsive-img" style="max-height: 150px;"><br><br>
  </center>
  
  <center>
           <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-4">
  
              <div class="card">
              <div class="card-body">
                <h5 class="card-title"></h5>
  
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post">
                  {% csrf_token %}
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="username" id="floatingName" placeholder="Username">
                      <label for="floatingName" style="color:#777777;">Username</label>
                    </div>
                  </div>
  
                   <div class="col-md-12">
                    <div class="form-floating">
                      <input type="password" class="form-control" name="password" id="floatingName" placeholder="Password">
                      <label for="floatingName" style="color:#777777;">Password</label>
                    </div>
                  </div>
  
                 <div>
                  <button type="submit" class="btn" style="width:100%">Sign In</button>
                 </div>
  
                 <br>
  
                 <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
  
                 <p>Dont have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                 
                </form><!-- End floating Labels Form -->
  
              </div>
            </div>
  
              </center>
{% endblock content %}