{% extends 'account/main.html' %}
{% block content %}
<div style="padding:10px;"></div>

<center>
         <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-6">

            <div class="card">
            <div class="card-body">

              <!-- Floating Labels Form -->
              <form class="row g-3" style="padding: 50px;" method="post">
                {% csrf_token %}

                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="pass0" id="floatingName" placeholder="Your Name">
                    <label for="floatingName" style="color:#777777;">Password</label>
                  </div>
                </div>

                 <div class="col-md-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="pass1" id="floatingName" placeholder="Your Name">
                    <label for="floatingName" style="color:#777777;">New Password</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="pass2" id="floatingName" placeholder="Your Name">
                    <label for="floatingName" style="color:#777777;">Confirm New Password</label>
                  </div>
                </div>

                


               <div>
                <button type="submit" class="btn" style="width:100%">Submit</button>
               </div>

                
               
              </form><!-- End floating Labels Form -->

            </div>
          </div>

            </center>
{% endblock content %}