{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<center>
    <img src="{% static 'assets/img/logo.png' %}" class="responsive-img" style="max-height: 150px;"><br><br>
  </center>
  
  <center>
           <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-4">
  
              <div class="card">
                <div class="card-header">ACCOUNT VERIFICATION</div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p>Pls click on the link was sent to your mail for account verification</p>
                <p><a href="">Resend link</a></p>
                <!-- Floating Labels Form -->
                
  
              </div>
            </div>
  
              </center>
{% endblock content %}