{% extends 'super/main.html' %}
{% block content %}
<div class="pagetitle">
  <h1> Update Payment</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Dashboard</a></li>
      <li class="breadcrumb-item">Payments</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Withdrawal</h5>
        

          <!-- Table with stripped rows -->
          <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            
          <div class="datatable-container" style="overflow-x:auto;">

            <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Mode</th>
                <th scope="col">Bank</th>
                <th scope="col">PayPal</th>
                <th scope="col">CashApp</th>
                <th scope="col">Crypto</th>
                <th>Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for p in payment %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{p.user.first_name}} {{p.user.last_name}}</td>
                <td>{{p.payment_method}}</td>
                <td>{{p.mode}}</td>
                <td>Bank:{{p.bank_name}}<br>Account Name:{{p.acct_name}}</td>
                <td>{{p.paypal_email}}</td>
                <td>{{p.cashapp_tag}}</td>
                <td>{{p.wallet_address}}</td>

                {% if p.status == 1 %}
                <td style="color:rgb(66, 66, 10);">Pending</td>
                {% elif p.status == 2 %}
                <td style="color:green;">Paid</td>
                {% else %}
                <td style="color:red;">Rejected</td>
                {% endif %}

                <td><a href="{% url 'admin-withdrawal-approve' p.ref %}">Approve</a>/<a href="{% url 'admin-withdrawal-declined' p.ref %}">Declined</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}